IP_Dimuthu - inst/IP/Service References/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5461/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="b_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="n_o_s" type="xs:int" />
        <xs:element minOccurs="0" name="d_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addBatchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addDegree">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="d_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uni" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="duration" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addDegreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addDegreeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="g_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="n_of_students" type="xs:int" />
        <xs:element minOccurs="0" name="s_number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="e_number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addGroupResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLabs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lab_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="capacity" type="xs:int" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLabsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addLabsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLectureHalls">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hall_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="capacity" type="xs:int" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLectureHallsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addLectureHallsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLecurer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lec_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLecurerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addLecurerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="m_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="m_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lec_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addModuleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNotice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val_date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNoticeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNoticeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addInstructor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ins_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addInstructorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addInstructorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addTerm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="t_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start_date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="end_date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addTermResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addTermResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewLecturers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="viewLecturersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="viewLecturersResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>