IP_Dimuthu - inst/IP/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5461/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5461/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5461/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
      <xsd:import schemaLocation="http://localhost:5461/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addBatch_InputMessage">
    <wsdl:part name="parameters" element="tns:addBatch" />
  </wsdl:message>
  <wsdl:message name="IService1_addBatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:addBatchResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addDegree_InputMessage">
    <wsdl:part name="parameters" element="tns:addDegree" />
  </wsdl:message>
  <wsdl:message name="IService1_addDegree_OutputMessage">
    <wsdl:part name="parameters" element="tns:addDegreeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:addGroup" />
  </wsdl:message>
  <wsdl:message name="IService1_addGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:addGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addLabs_InputMessage">
    <wsdl:part name="parameters" element="tns:addLabs" />
  </wsdl:message>
  <wsdl:message name="IService1_addLabs_OutputMessage">
    <wsdl:part name="parameters" element="tns:addLabsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addLectureHalls_InputMessage">
    <wsdl:part name="parameters" element="tns:addLectureHalls" />
  </wsdl:message>
  <wsdl:message name="IService1_addLectureHalls_OutputMessage">
    <wsdl:part name="parameters" element="tns:addLectureHallsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addLecurer_InputMessage">
    <wsdl:part name="parameters" element="tns:addLecurer" />
  </wsdl:message>
  <wsdl:message name="IService1_addLecurer_OutputMessage">
    <wsdl:part name="parameters" element="tns:addLecurerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addModule_InputMessage">
    <wsdl:part name="parameters" element="tns:addModule" />
  </wsdl:message>
  <wsdl:message name="IService1_addModule_OutputMessage">
    <wsdl:part name="parameters" element="tns:addModuleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addNotice_InputMessage">
    <wsdl:part name="parameters" element="tns:addNotice" />
  </wsdl:message>
  <wsdl:message name="IService1_addNotice_OutputMessage">
    <wsdl:part name="parameters" element="tns:addNoticeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addInstructor_InputMessage">
    <wsdl:part name="parameters" element="tns:addInstructor" />
  </wsdl:message>
  <wsdl:message name="IService1_addInstructor_OutputMessage">
    <wsdl:part name="parameters" element="tns:addInstructorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addTerm_InputMessage">
    <wsdl:part name="parameters" element="tns:addTerm" />
  </wsdl:message>
  <wsdl:message name="IService1_addTerm_OutputMessage">
    <wsdl:part name="parameters" element="tns:addTermResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_viewLecturers_InputMessage">
    <wsdl:part name="parameters" element="tns:viewLecturers" />
  </wsdl:message>
  <wsdl:message name="IService1_viewLecturers_OutputMessage">
    <wsdl:part name="parameters" element="tns:viewLecturersResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addBatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addBatch" message="tns:IService1_addBatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addBatchResponse" message="tns:IService1_addBatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addDegree">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addDegree" message="tns:IService1_addDegree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addDegreeResponse" message="tns:IService1_addDegree_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addGroup" message="tns:IService1_addGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addGroupResponse" message="tns:IService1_addGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addLabs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addLabs" message="tns:IService1_addLabs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addLabsResponse" message="tns:IService1_addLabs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addLectureHalls">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addLectureHalls" message="tns:IService1_addLectureHalls_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addLectureHallsResponse" message="tns:IService1_addLectureHalls_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addLecurer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addLecurer" message="tns:IService1_addLecurer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addLecurerResponse" message="tns:IService1_addLecurer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addModule">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addModule" message="tns:IService1_addModule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addModuleResponse" message="tns:IService1_addModule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addNotice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addNotice" message="tns:IService1_addNotice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addNoticeResponse" message="tns:IService1_addNotice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addInstructor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addInstructor" message="tns:IService1_addInstructor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addInstructorResponse" message="tns:IService1_addInstructor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addTerm">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addTerm" message="tns:IService1_addTerm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addTermResponse" message="tns:IService1_addTerm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="viewLecturers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/viewLecturers" message="tns:IService1_viewLecturers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/viewLecturersResponse" message="tns:IService1_viewLecturers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addBatch">
      <soap:operation soapAction="http://tempuri.org/IService1/addBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDegree">
      <soap:operation soapAction="http://tempuri.org/IService1/addDegree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addGroup">
      <soap:operation soapAction="http://tempuri.org/IService1/addGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addLabs">
      <soap:operation soapAction="http://tempuri.org/IService1/addLabs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addLectureHalls">
      <soap:operation soapAction="http://tempuri.org/IService1/addLectureHalls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addLecurer">
      <soap:operation soapAction="http://tempuri.org/IService1/addLecurer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addModule">
      <soap:operation soapAction="http://tempuri.org/IService1/addModule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNotice">
      <soap:operation soapAction="http://tempuri.org/IService1/addNotice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addInstructor">
      <soap:operation soapAction="http://tempuri.org/IService1/addInstructor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addTerm">
      <soap:operation soapAction="http://tempuri.org/IService1/addTerm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="viewLecturers">
      <soap:operation soapAction="http://tempuri.org/IService1/viewLecturers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:5461/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>